ion-content {
    // --background-image: url('../../assets/images/tab1/IMG_6384.jpeg');
    --background: none;
    background-image: url('../../assets/images/tab1/IMG_6384.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}